<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta property="og:title" content="Context + Form Digital" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Context + Form Digital" />
    <meta property="og:description" content="Sign up now and be the first to hear about new releases coming soon!" />
    <meta property="og:url" content="www.contextform.com" />
    <meta property="og:image" content="" />
  </head>
  <body>
  	<center><h3><%= message %></h3></center>
   	<!-- Begin LaunchRock Widget -->
<div id="lr-widget" rel="MU5DE7VS"></div>
<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
<!-- End LaunchRock Widget -->
  </body>
</html>